<!DOCTYPE html>
<html>
<head>
  <title>Gringotts</title>
  <%= stylesheet_link_tag    "gringotts/application", media: "all" %>
  <%= javascript_include_tag "gringotts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
