<h1>Verification</h1>

<h2>Expected Code [<%#= @code %>]</h2>

Enter code:

<%# form_for Attempt.new(@gringotts_user), url: {action: "create"}, method: :post do |f| %>

  <%#= f.text_field :code_received %>

  <br/><br/>

  <%#= f.submit "Verify" %>

<%# end %>