<h1>Phone number verified</h1>

<h2>2-Factor Authentication has been turned on for your account.</h2>

<p>Next time that you log in, we will require that you enter your authentication code in order to access your account.</p>