<div id="gringotts" class="success">

  <div class="wrapper">
    
    <div class="header">
      <h1>Phone Verification</h1>
      <p>
        Every time you log in, we will send you a text message with a code.
        You will need to enter that code in order to access your account.
      </p>
    </div>
    
    <div class="content">
    
      <div class="step">
        <h2>
          Phone verification is <strong>ON</strong> for your account
          <span class="step-number">&#10003;</span>
        </h2> 
      </div>
  
      <p>
        Your phone number is set up as:
      </p>
      
      <div class="phone-number">
        (<span class="dots">&#x2022;&#x2022;&#x2022;</span>) <span class="dots">&#x2022;&#x2022;&#x2022;</span> <%= @gringotts.last_4 %>
      </div>
      
      <%= button_to "Turn off verification", gringotts_engine.disable_path, class: "disable button" %>
      
      <%= link_to "Change phone number", gringotts_engine.setup_path, class: "change" %>
      
    </div><!-- /content -->
  </div><!-- /wrapper-->
</div><!-- /gringotts success -->