<div id="gringotts" class="confirm">
  
  <div class="wrapper">
    
    <div class="header">
      <h1>
        Phone Verification
      </h1>
      <p>
        You should be receiving a text message containing a <%= @code.length %>-digit number. Enter that number here to verify your phone number.
      </p>
    </div>
    
    <div class="content">
    
      <h2>
        Enter the code we sent to your mobile phone
      </h2>
      
      <div class="phone-number">
        (&middot;&middot;&middot;) &middot;&middot;&middot; <%= @gringotts.last_4 %>
      </div>
      
      <%= render :partial => "code_form" %>

      <div><!-- /something? -->
      </div><!-- /something else? -->
    </div>

  </div><!-- /wrapper -->

  <%- unless Rails.env.production? %>
    <div class="debug">
      Expected Code [<%= @code %>]
    </div>
  <%- end %>
  
</div>