<h2>Would you like to make your account more secure?</h2>

<p>Add another layer of security to your account by enabling phone verification. Every time you sign in, we'll send a text message to your mobile phone with a verification code. It's easy, it's free, and it makes your account more secure.</p>

<%= link_to "Continue", gringotts_engine.setup_url %>

<br /><br />

<%= link_to "No, thanks", @next_url %>