#gringotts {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica, arial, sans-serif !important;
}

#gringotts p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#gringotts .wrapper {
  width: 500px;
  margin: 0 auto;
  background: #fff;
  border: 0px;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #999;
  -moz-box-shadow: 0 0 6px #999;
  box-shadow: 0 0 6px #999;
}

#gringotts .header {
  background-color: #F8F8FF;
  padding: 15px 30px 10px;
  margin: 0px;
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#gringotts .header h1 {
  font-size: 20px;
  margin: 15px 0px 10px 0px;
}

#gringotts .header p {
  margin: 5px 0px 10px 0px;
  font-size: 14px;
  line-height: 18px;
}


#gringotts .debug {
  padding: 10px;
  background-color: pink;
  margin: 25px;
  font-weight: bold;
  font-size: 20pt;
}
